:root {
    /* #0170f1 */

    --br-50: #edfaff;
    --br-100: #d6f1ff;
    --br-200: #b6e9ff;
    --br-300: #83ddff;
    --br-400: #49c7ff;
    --br-500: #1fa8ff;
    --br-600: #078aff;
    --br-700: #0170f1;
    --br-800: #085ac5;
    --br-900: #0e4e9a;
    --br-950: #0e305d;

     font-family: Helvetica, Arial, sans-serif;
}

header {
    display:grid;
    background-color: var(--br-700);

    & h1 {
        justify-self: center;
    }
}

#main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#side-bar {
    grid-column: 1/2;
    display: grid;
    background-color: var(--br-400);
    max-width: 15vw;
    border: dashed var(--br-950) 1px;
    padding: 6px;

    & h1 {
        justify-self: center;
        color: var(--br-950);
        font-size: 24px;
    }
}

#existing-projects{
    background-color: var(--br-600);
    list-style: none;
    
    & li {
        margin: 5px;
    }
}

#todo-display {
    grid-column: 2/3;
    display:grid;
    /* justify-content: center; */
    background-color: var(--br-200);
    border: solid black 2px;
    width: 80vw;
    min-height: 10em;
    padding: 20px;
}

.project-name, .project-delete, .card-button {
    cursor: pointer;
}

.project-count {
    /* display: flex; */
    font-weight: bolder;
    padding: 0 10px 0 10px;
    /* justify-self: end; */
}

.todo-card {
    display: flex;
    justify-content: center;
    border: solid black 1px;
    border-radius: 8px;
    max-width: 50%;
    height: 50px;

    
    gap: 8px;

    & #edit-btn {
        justify-self: end;
        color: white;
    }
    & #del-btn {
        justify-self: end;
        color: red;
    }
}

.todo-card.todo-inactive {
    background-color: red;
}

.details-dialog-label {
    padding-right: 6px;
    font-weight:800;
}
    
