:root {
    /* #0170f1 */

    --br-50: #edfaff;
    --br-100: #d6f1ff;
    --br-200: #b6e9ff;
    --br-300: #83ddff;
    --br-400: #49c7ff;
    --br-500: #1fa8ff;
    --br-600: #078aff;
    --br-700: #0170f1;
    --br-800: #085ac5;
    --br-900: #0e4e9a;
    --br-950: #0e305d;

     font-family: Helvetica, Arial, sans-serif;
}

body {
    margin:5% 10% 5% 10%;
    background-color: var(--br-50);
}

header {
    display:grid;
    background-color: var(--br-500);

    & h1 {
        justify-self: center;
    }
}

dialog[open] {
    background-color: var(--br-100);

    box-sizing: border-box;
    border: none;

    & .dialog-header{
        display: flex;
        justify-content: end;
    }

    & label {
        font-size: 1.4em;
    }
    input,select {
        border-radius: 8px;
        border: solid var(--br-500);
        font-size: 1.008em;
        box-sizing: border-box;
        padding: 1px;
        text-align: center;
    }

    input,select:focus {
        outline: none;
        border: solid var(--br-700);
    }

    & button {
        font-weight: 600;
        color: var(--br-200);
        background-color: var(--br-800);
        border-radius: 20px;
        font-size: 1.2rem;
        border: none;
        cursor: pointer;
        padding: 3.5%;
        text-align: start;
    }

    & #dialog-close, #edit-dialog-close, #details-dialog-close {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 0;
        font-size: 1.7em;
    }

    & #dialog-submit-new-task, #dialog-submit-edit-task {
        grid-row: 3/4;
        text-align: center;
        width: 45%;
        height: 60%;
        padding: 0;
        justify-self: center;
        align-self: center;
        font-size: 1.4rem;

    }

    & button:hover {
        font-size: larger;
        font-weight: bolder;
    }
}

#add-task-dialog[open] {
    display: grid;
    grid-template-rows: 60px 1fr 100px;
    width: 60%;
    height: 80%;
    
    .new-task-form {
        grid-row: 2/3;
        display:grid;
        grid-template-rows: repeat(5, 1fr);
        justify-content: center;
        padding: 50px auto;
        align-items: center;
    }

    & #dialog-add-task-title{
        grid-row: 1/2;
    }

    & #dialog-add-task-desc{
        grid-row: 2/3;
    }
}

#edit-task-dialog[open] {
    display: grid;
    grid-template-rows: 60px 1fr 100px;
    width: 60%;
    height: 80%;
    
    .edit-task-form {
        grid-row: 2/3;
        display:grid;
        grid-template-rows: repeat(5, 1fr);
        justify-content: center;
        padding: 50px auto;
        align-items: center;
    }

    & #dialog-edit-task-title{
        grid-row: 1/2;
    }

    & #dialog-edit-task-desc{
        grid-row: 2/3;
    }
}

#details-dialog[open] {
    display: grid;
    grid-template-rows: 40px 1fr;
    width: 25%;
    height: 40%;
    
    #details-body {
        display:grid;
        grid-row: 2/3;
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
        padding: 50px auto;
        align-items: center;
    }
}



#main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* height: 80vh; */

}

.project-form-buttons {
    display:flex;
    justify-content: center;
    margin-top: 10px;

    & button#project-form-add,#project-form-cancel {
        font-weight: 500;
        color: var(--br-200);
        background-color: var(--br-700);
        border-radius: 8px;
    }
}


#side-bar {
    grid-column: 1/2;
    display: grid;
    background-color: var(--br-200);
    /* max-width: 15vw; */
    border-right: solid var(--br-400) 1px;
    padding: 6px;

    & h1 {
        justify-self: center;
        color: var(--br-800);
        font-size: 24px;
    }

    & button, li {
        cursor: pointer;
        background-color: inherit;
        margin: 5px;
        font-size: 1.2rem;
        font-weight: 400;
        /* border: solid var(--br-800) 1px; */
        border: none;
        border-radius: 8px;
        color: var(--br-800);

        padding: 3.5%;
        text-align: start;
    }

    & button:hover, .project-name:hover {
        font-size: 1.3rem;
        font-weight: bolder;
    }
}

#add-project-form {
    justify-self: center;
}


#existing-projects{
    display: grid;
    grid-template-rows: 50px;
    grid-auto-rows: 50px;
    padding-left: 0;
}

#todo-display {
    grid-column: 2/3;
    display:grid;
    grid-template-rows: 60px;
    grid-auto-rows: 60px;
    background-color: var(--br-100);
    /* border: solid black 2px; */
    /* width: 80vw; */
    min-height: 10em;
    padding: 20px;
    justify-items: center;
}

.project-name, .project-delete, .card-button {
    cursor: pointer;
}


#inbox {
    display: flex;
    justify-content: space-between;
}

ul#existing-projects > li {
    padding: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    margin: 0 auto 0 auto;
    width: 85%;
    height: 50%;
}

/* ul#existing-projects > li:hover::before {
    content: ">>"
}

ul#existing-projects > li:c {
    content: ">>"
} */

.project-count,.add-symbol {
    font-weight: 600;
    color: var(--br-200);
    background-color: var(--br-800);
    border-radius: 20px;
}

.project-count {
    padding: 0 7px 0 7px;    
}

.add-symbol {
    display: inline-block;
    padding: 0 6px 1px 6px;
    transform: translateY(-2px);
}

.todo-card {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--br-600);
    color: var(--br-100);
    border-radius: 8px;
    width: 85%;
    min-width: 500px;
    height: 50px;
    gap: 8px;
    padding: 1em;

    /* & #edit-btn {
        justify-self: end;
        color: white;
    }
    & #del-btn {
        justify-self: end;
        color: red;
    } */
}

#card-title {
    margin-right: 3em;
}

#card-date {
    margin-right: 2em;
}

#card-priority {
    margin-right: 2em;
}

input[type="checkbox"] {
  margin-right: auto;
  width: 1.7em;
  height: 1.7em;
  border: 0.15em solid var(--br-900);
  border-radius: 0.15em;
  /* transform: translateY(-0.075em); */
}

.todo-card.todo-inactive {
    background-color: hsl(208, 100%, 81%);
    color: grey;
    text-decoration: line-through;
}

.details-dialog-label {
    padding-right: 6px;
    font-weight:800;
}

#project_name {
    border-radius: 8px;
    border: solid var(--br-500);
    font-size: 1.008em;
    box-sizing: border-box;
    padding: 1px;
    text-align: center;
}
 
#project_name:focus {
    outline: none;
    border: solid var(--br-700);
}

#card-details, #card-edit, #card-delete {
    filter: brightness(0) saturate(100%) invert(93%) sepia(65%) saturate(7439%) hue-rotate(175deg) brightness(107%) contrast(101%);
}

.project-delete {
    filter: brightness(0) saturate(100%) invert(22%) sepia(33%) saturate(5845%) hue-rotate(206deg) brightness(100%) contrast(94%);
}